.footer {
  background-color: #282c34;
	min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
	color: white;
	/* Put to bottom of page-container */
	position: absolute;
	bottom: 0;
	width: 100%;
}

.icon-frame {
	width: 5vh;
	height: 5vh;
}

